/* styles.css */

/* Posicionar el botón debajo de las secciones */
.theme-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Transición para el color */
  }
  
  /* Animación de cambio de tamaño al pasar el mouse */
  .theme-toggle-button:hover {
    transform: scale(1.2);
  }
  
  /* Animación de los íconos */
  .icon {
    transition: transform 0.5s ease-in-out, color 0.3s ease-in-out; /* Transición de color */
  }
  
  /* Animación de rotación */
  .theme-toggle-button .icon {
    transform: rotate(0deg);
  }
  
  .theme-toggle-button:hover .icon {
    transform: rotate(180deg);
  }
  
  /* Colores del tema claro */
  body.light .theme-toggle-button {
    color: #000; /* Icono y botón en tema claro */
  }
  
  /* Colores del tema oscuro */
  body.dark .theme-toggle-button {
    color: #fff; /* Icono y botón en tema oscuro */
  }

  