.projects-section h2 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: inherit;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease-in-out;
}

.card {
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card .btn {
  margin-top: 10px;
}

.projects-section {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.projects-section.light {
  background-color: rgb(240, 240, 240, 0.0);
  color: #000;
}

.projects-section.light .card {
  background-color: #ffffff;
  color: #000000;
}

.projects-section.dark {
  background-color: rgb(24, 24, 24, 0);
  color: #fff;
}

.projects-section.dark .card {
  background-color: #464646;
  color: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.projects-section.dark .card:hover {
  box-shadow: 0 12px 25px rgba(117, 112, 112, 0.8);
}