.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-delayed {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 1s;
    /* Aparece con un segundo de retraso */
}

/* ANIMACION SLIDE, MONTAJE DESDE LOS COSTADOS */

/* DESDE LA IZQUIERDA */
.slide-in-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* DESDE LA DERECHA */
.slide-in-right {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ARRIBA HACIA ABAJO */
.slide-in-top {
    opacity: 0;
    transform: translateY(-100%);
    animation: slideInTop 1s ease-out forwards;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ABAJO HACIA ARRIBA */
.slide-in-bottom {
    opacity: 0;
    transform: translateY(100%);
    animation: slideInBottom 1s ease-out forwards;
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}