.bg-dark-theme {
  background-color: #181818; /* Ajusta según prefieras */
}

.bg-light-theme {
  background-color: #f0f0f0;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #f8f9fa !important;
}