.bg-dark-theme {
  background-color: #1a1a1a;
}

.bg-light-theme {
  background-color: #f8f9fa;
}

.text-dark {
  color: #333 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.footer-icon {
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icon:hover {
  color: #0077b5;
  transform: scale(1.1);
}

.footer-icon.linkedin:hover {
  color: #0077b5;
}

.footer-icon.github:hover {
  color: #111827;
}

.footer-icon.whatsapp:hover {
  color: #25D366;
}

.footer-icon.gmail:hover {
  color: #D44638;
}
