.contact-section h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.contact-section .btn {
  font-size: 1.1rem;
  /* Ajusta el tamaño si es necesario */
}

.contact-form .form-control {
  border-radius: 0.5rem;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form button {
  margin-top: 20px;
  padding: 10px 20px;
}

.contact-form button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.contact-section .btn-outline-dark,
.contact-section .btn-outline-primary {
  margin-top: 15px;
  padding: 10px 20px;
}

.contact-section .btn-outline-dark:hover,
.contact-section .btn-outline-primary:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}