/* styles.css */


body.light {
    background-color: #f0f0f0;
    color: #000;
}
  
body.dark {
    background-color: #181818;
    color: #fff;
  }
  
button {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

  /* App.css */
/* App.css o en un archivo CSS donde defines el estilo de ParticlesBackground */
.particles-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -10; /* Asegura que esté detrás */
  pointer-events: none; /* Para evitar interacción del usuario */
}

  /* App.css */
.app-container {
    position: relative;
    z-index: 1; /* Mantiene el contenido por encima de las partículas */
    background-color: transparent;
    min-height: 100vh;
  }